MobileMyth/App_WebReferences/MythGuide/GuideServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="GuideServices" targetNamespace="http://mythtv.org" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://MythTV.org/Imports">
      <xs:import schemaLocation="http://10.0.0.197:6544/Guide/xsd?type=Program" namespace="http://mythtv.org" />
      <xs:import schemaLocation="http://10.0.0.197:6544/Guide/xsd?type=ProgramGuide" namespace="http://mythtv.org" />
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org">
      <xs:element name="GetChannelIcon">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ChanId" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="Width" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetChannelIconResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetChannelIconResult" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetProgramDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ChanId" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetProgramDetailsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetProgramDetailsResult" nillable="true" type="tns:Program" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetProgramGuide">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
            <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:dateTime" />
            <xs:element minOccurs="0" name="StartChanId" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="NumChannels" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="Details" nillable="true" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetProgramGuideResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetProgramGuideResult" nillable="true" type="tns:ProgramGuide" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="Guide_GetChannelIcon_InputMessage">
    <part name="parameters" element="tns:GetChannelIcon" />
  </message>
  <message name="Guide_GetChannelIcon_OutputMessage">
    <part name="parameters" element="tns:GetChannelIconResponse" />
  </message>
  <message name="Guide_GetProgramDetails_InputMessage">
    <part name="parameters" element="tns:GetProgramDetails" />
  </message>
  <message name="Guide_GetProgramDetails_OutputMessage">
    <part name="parameters" element="tns:GetProgramDetailsResponse" />
  </message>
  <message name="Guide_GetProgramGuide_InputMessage">
    <part name="parameters" element="tns:GetProgramGuide" />
  </message>
  <message name="Guide_GetProgramGuide_OutputMessage">
    <part name="parameters" element="tns:GetProgramGuideResponse" />
  </message>
  <portType name="Guide">
    <operation name="GetChannelIcon">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Guide/GetChannelIcon" message="tns:Guide_GetChannelIcon_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Guide/GetChannelIconResponse" message="tns:Guide_GetChannelIcon_OutputMessage" />
    </operation>
    <operation name="GetProgramDetails">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Guide/GetProgramDetails" message="tns:Guide_GetProgramDetails_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Guide/GetProgramDetailsResponse" message="tns:Guide_GetProgramDetails_OutputMessage" />
    </operation>
    <operation name="GetProgramGuide">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Guide/GetProgramGuide" message="tns:Guide_GetProgramGuide_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Guide/GetProgramGuideResponse" message="tns:Guide_GetProgramGuide_OutputMessage" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_Guide" type="tns:Guide">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetChannelIcon">
      <soap:operation soapAction="http://mythtv.org/Guide/GetChannelIcon" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProgramDetails">
      <soap:operation soapAction="http://mythtv.org/Guide/GetProgramDetails" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProgramGuide">
      <soap:operation soapAction="http://mythtv.org/Guide/GetProgramGuide" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GuideServices">
    <documentation>Interface Version 1.0 - </documentation>
    <port name="BasicHttpBinding_Guide" binding="tns:BasicHttpBinding_Guide">
      <soap:address location="http://10.0.0.197:6544/Guide" />
    </port>
  </service>
</definitions>