MobileMyth/App_WebReferences/MythDVR/DvrServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DvrServices" targetNamespace="http://mythtv.org" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://MythTV.org/Imports">
      <xs:import schemaLocation="http://10.0.0.197:6544/Dvr/xsd?type=EncoderList" namespace="http://mythtv.org" />
      <xs:import schemaLocation="http://10.0.0.197:6544/Dvr/xsd?type=Program" namespace="http://mythtv.org" />
      <xs:import schemaLocation="http://10.0.0.197:6544/Dvr/xsd?type=ProgramList" namespace="http://mythtv.org" />
      <xs:import schemaLocation="http://10.0.0.197:6544/Dvr/xsd?type=RecRule" namespace="http://mythtv.org" />
      <xs:import schemaLocation="http://10.0.0.197:6544/Dvr/xsd?type=RecRuleList" namespace="http://mythtv.org" />
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org">
      <xs:element name="AddRecordSchedule">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ChanId" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
            <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="Inactive" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="Season" nillable="true" type="xs:unsignedInt" />
            <xs:element minOccurs="0" name="Episode" nillable="true" type="xs:unsignedInt" />
            <xs:element minOccurs="0" name="Inetref" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="FindId" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="RecPriority" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="PreferredInput" nillable="true" type="xs:unsignedInt" />
            <xs:element minOccurs="0" name="StartOffset" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="EndOffset" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="DupMethod" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="DupIn" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Filter" nillable="true" type="xs:unsignedInt" />
            <xs:element minOccurs="0" name="RecProfile" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="RecGroup" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="StorageGroup" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="PlayGroup" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="AutoExpire" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="MaxEpisodes" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="MaxNewest" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="AutoCommflag" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="AutoTranscode" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="AutoMetaLookup" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="AutoUserJob1" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="AutoUserJob2" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="AutoUserJob3" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="AutoUserJob4" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="Transcoder" nillable="true" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AddRecordScheduleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="AddRecordScheduleResult" nillable="true" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DisableRecordSchedule">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="RecordId" nillable="true" type="xs:unsignedInt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DisableRecordScheduleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="DisableRecordScheduleResult" nillable="true" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EnableRecordSchedule">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="RecordId" nillable="true" type="xs:unsignedInt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EnableRecordScheduleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="EnableRecordScheduleResult" nillable="true" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetConflictList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="StartIndex" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetConflictListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetConflictListResult" nillable="true" type="tns:ProgramList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetEncoderList">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetEncoderListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetEncoderListResult" nillable="true" type="tns:EncoderList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetExpiringList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="StartIndex" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetExpiringListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetExpiringListResult" nillable="true" type="tns:ProgramList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetFilteredRecordedList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Descending" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="StartIndex" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="TitleRegEx" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="RecGroup" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="StorageGroup" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetFilteredRecordedListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetFilteredRecordedListResult" nillable="true" type="tns:ProgramList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRecordSchedule">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="RecordId" nillable="true" type="xs:unsignedInt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRecordScheduleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetRecordScheduleResult" nillable="true" type="tns:RecRule" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRecordScheduleList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="StartIndex" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRecordScheduleListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetRecordScheduleListResult" nillable="true" type="tns:RecRuleList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRecorded">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ChanId" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRecordedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetRecordedResult" nillable="true" type="tns:Program" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRecordedList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Descending" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="StartIndex" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRecordedListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetRecordedListResult" nillable="true" type="tns:ProgramList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetUpcomingList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="StartIndex" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="ShowAll" nillable="true" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetUpcomingListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetUpcomingListResult" nillable="true" type="tns:ProgramList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveRecordSchedule">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="RecordId" nillable="true" type="xs:unsignedInt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveRecordScheduleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="RemoveRecordScheduleResult" nillable="true" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveRecorded">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ChanId" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveRecordedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="RemoveRecordedResult" nillable="true" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="Dvr_AddRecordSchedule_InputMessage">
    <part name="parameters" element="tns:AddRecordSchedule" />
  </message>
  <message name="Dvr_AddRecordSchedule_OutputMessage">
    <part name="parameters" element="tns:AddRecordScheduleResponse" />
  </message>
  <message name="Dvr_DisableRecordSchedule_InputMessage">
    <part name="parameters" element="tns:DisableRecordSchedule" />
  </message>
  <message name="Dvr_DisableRecordSchedule_OutputMessage">
    <part name="parameters" element="tns:DisableRecordScheduleResponse" />
  </message>
  <message name="Dvr_EnableRecordSchedule_InputMessage">
    <part name="parameters" element="tns:EnableRecordSchedule" />
  </message>
  <message name="Dvr_EnableRecordSchedule_OutputMessage">
    <part name="parameters" element="tns:EnableRecordScheduleResponse" />
  </message>
  <message name="Dvr_GetConflictList_InputMessage">
    <part name="parameters" element="tns:GetConflictList" />
  </message>
  <message name="Dvr_GetConflictList_OutputMessage">
    <part name="parameters" element="tns:GetConflictListResponse" />
  </message>
  <message name="Dvr_GetEncoderList_InputMessage">
    <part name="parameters" element="tns:GetEncoderList" />
  </message>
  <message name="Dvr_GetEncoderList_OutputMessage">
    <part name="parameters" element="tns:GetEncoderListResponse" />
  </message>
  <message name="Dvr_GetExpiringList_InputMessage">
    <part name="parameters" element="tns:GetExpiringList" />
  </message>
  <message name="Dvr_GetExpiringList_OutputMessage">
    <part name="parameters" element="tns:GetExpiringListResponse" />
  </message>
  <message name="Dvr_GetFilteredRecordedList_InputMessage">
    <part name="parameters" element="tns:GetFilteredRecordedList" />
  </message>
  <message name="Dvr_GetFilteredRecordedList_OutputMessage">
    <part name="parameters" element="tns:GetFilteredRecordedListResponse" />
  </message>
  <message name="Dvr_GetRecordSchedule_InputMessage">
    <part name="parameters" element="tns:GetRecordSchedule" />
  </message>
  <message name="Dvr_GetRecordSchedule_OutputMessage">
    <part name="parameters" element="tns:GetRecordScheduleResponse" />
  </message>
  <message name="Dvr_GetRecordScheduleList_InputMessage">
    <part name="parameters" element="tns:GetRecordScheduleList" />
  </message>
  <message name="Dvr_GetRecordScheduleList_OutputMessage">
    <part name="parameters" element="tns:GetRecordScheduleListResponse" />
  </message>
  <message name="Dvr_GetRecorded_InputMessage">
    <part name="parameters" element="tns:GetRecorded" />
  </message>
  <message name="Dvr_GetRecorded_OutputMessage">
    <part name="parameters" element="tns:GetRecordedResponse" />
  </message>
  <message name="Dvr_GetRecordedList_InputMessage">
    <part name="parameters" element="tns:GetRecordedList" />
  </message>
  <message name="Dvr_GetRecordedList_OutputMessage">
    <part name="parameters" element="tns:GetRecordedListResponse" />
  </message>
  <message name="Dvr_GetUpcomingList_InputMessage">
    <part name="parameters" element="tns:GetUpcomingList" />
  </message>
  <message name="Dvr_GetUpcomingList_OutputMessage">
    <part name="parameters" element="tns:GetUpcomingListResponse" />
  </message>
  <message name="Dvr_RemoveRecordSchedule_InputMessage">
    <part name="parameters" element="tns:RemoveRecordSchedule" />
  </message>
  <message name="Dvr_RemoveRecordSchedule_OutputMessage">
    <part name="parameters" element="tns:RemoveRecordScheduleResponse" />
  </message>
  <message name="Dvr_RemoveRecorded_InputMessage">
    <part name="parameters" element="tns:RemoveRecorded" />
  </message>
  <message name="Dvr_RemoveRecorded_OutputMessage">
    <part name="parameters" element="tns:RemoveRecordedResponse" />
  </message>
  <portType name="Dvr">
    <operation name="AddRecordSchedule">
      <documentation>POST </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/AddRecordSchedule" message="tns:Dvr_AddRecordSchedule_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/AddRecordScheduleResponse" message="tns:Dvr_AddRecordSchedule_OutputMessage" />
    </operation>
    <operation name="DisableRecordSchedule">
      <documentation>POST </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/DisableRecordSchedule" message="tns:Dvr_DisableRecordSchedule_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/DisableRecordScheduleResponse" message="tns:Dvr_DisableRecordSchedule_OutputMessage" />
    </operation>
    <operation name="EnableRecordSchedule">
      <documentation>POST </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/EnableRecordSchedule" message="tns:Dvr_EnableRecordSchedule_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/EnableRecordScheduleResponse" message="tns:Dvr_EnableRecordSchedule_OutputMessage" />
    </operation>
    <operation name="GetConflictList">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/GetConflictList" message="tns:Dvr_GetConflictList_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/GetConflictListResponse" message="tns:Dvr_GetConflictList_OutputMessage" />
    </operation>
    <operation name="GetEncoderList">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/GetEncoderList" message="tns:Dvr_GetEncoderList_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/GetEncoderListResponse" message="tns:Dvr_GetEncoderList_OutputMessage" />
    </operation>
    <operation name="GetExpiringList">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/GetExpiringList" message="tns:Dvr_GetExpiringList_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/GetExpiringListResponse" message="tns:Dvr_GetExpiringList_OutputMessage" />
    </operation>
    <operation name="GetFilteredRecordedList">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/GetFilteredRecordedList" message="tns:Dvr_GetFilteredRecordedList_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/GetFilteredRecordedListResponse" message="tns:Dvr_GetFilteredRecordedList_OutputMessage" />
    </operation>
    <operation name="GetRecordSchedule">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/GetRecordSchedule" message="tns:Dvr_GetRecordSchedule_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/GetRecordScheduleResponse" message="tns:Dvr_GetRecordSchedule_OutputMessage" />
    </operation>
    <operation name="GetRecordScheduleList">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/GetRecordScheduleList" message="tns:Dvr_GetRecordScheduleList_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/GetRecordScheduleListResponse" message="tns:Dvr_GetRecordScheduleList_OutputMessage" />
    </operation>
    <operation name="GetRecorded">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/GetRecorded" message="tns:Dvr_GetRecorded_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/GetRecordedResponse" message="tns:Dvr_GetRecorded_OutputMessage" />
    </operation>
    <operation name="GetRecordedList">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/GetRecordedList" message="tns:Dvr_GetRecordedList_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/GetRecordedListResponse" message="tns:Dvr_GetRecordedList_OutputMessage" />
    </operation>
    <operation name="GetUpcomingList">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/GetUpcomingList" message="tns:Dvr_GetUpcomingList_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/GetUpcomingListResponse" message="tns:Dvr_GetUpcomingList_OutputMessage" />
    </operation>
    <operation name="RemoveRecordSchedule">
      <documentation>POST </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/RemoveRecordSchedule" message="tns:Dvr_RemoveRecordSchedule_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/RemoveRecordScheduleResponse" message="tns:Dvr_RemoveRecordSchedule_OutputMessage" />
    </operation>
    <operation name="RemoveRecorded">
      <documentation>GET </documentation>
      <input wsaw:Action="http://mythtv.org/Dvr/RemoveRecorded" message="tns:Dvr_RemoveRecorded_InputMessage" />
      <output wsaw:Action="http://mythtv.org/Dvr/RemoveRecordedResponse" message="tns:Dvr_RemoveRecorded_OutputMessage" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_Dvr" type="tns:Dvr">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="AddRecordSchedule">
      <soap:operation soapAction="http://mythtv.org/Dvr/AddRecordSchedule" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DisableRecordSchedule">
      <soap:operation soapAction="http://mythtv.org/Dvr/DisableRecordSchedule" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EnableRecordSchedule">
      <soap:operation soapAction="http://mythtv.org/Dvr/EnableRecordSchedule" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetConflictList">
      <soap:operation soapAction="http://mythtv.org/Dvr/GetConflictList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetEncoderList">
      <soap:operation soapAction="http://mythtv.org/Dvr/GetEncoderList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetExpiringList">
      <soap:operation soapAction="http://mythtv.org/Dvr/GetExpiringList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFilteredRecordedList">
      <soap:operation soapAction="http://mythtv.org/Dvr/GetFilteredRecordedList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetRecordSchedule">
      <soap:operation soapAction="http://mythtv.org/Dvr/GetRecordSchedule" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetRecordScheduleList">
      <soap:operation soapAction="http://mythtv.org/Dvr/GetRecordScheduleList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetRecorded">
      <soap:operation soapAction="http://mythtv.org/Dvr/GetRecorded" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetRecordedList">
      <soap:operation soapAction="http://mythtv.org/Dvr/GetRecordedList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUpcomingList">
      <soap:operation soapAction="http://mythtv.org/Dvr/GetUpcomingList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RemoveRecordSchedule">
      <soap:operation soapAction="http://mythtv.org/Dvr/RemoveRecordSchedule" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RemoveRecorded">
      <soap:operation soapAction="http://mythtv.org/Dvr/RemoveRecorded" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DvrServices">
    <documentation>Interface Version 1.4 - </documentation>
    <port name="BasicHttpBinding_Dvr" binding="tns:BasicHttpBinding_Dvr">
      <soap:address location="http://10.0.0.197:6544/Dvr" />
    </port>
  </service>
</definitions>