MobileMyth/App_WebReferences/MythDvr_27/xsd12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mythtv.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TitleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Title" type="xs:string" />
      <xs:element minOccurs="0" name="Inetref" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TitleInfo" nillable="true" type="tns:TitleInfo" />
</xs:schema>