MythServices/Service References/MythContent_27/xsd6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mythtv.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LiveStreamInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Bitrate" type="xs:int" />
      <xs:element minOccurs="0" name="AudioBitrate" type="xs:int" />
      <xs:element minOccurs="0" name="SegmentSize" type="xs:int" />
      <xs:element minOccurs="0" name="MaxSegments" type="xs:int" />
      <xs:element minOccurs="0" name="StartSegment" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentSegment" type="xs:int" />
      <xs:element minOccurs="0" name="SegmentCount" type="xs:int" />
      <xs:element minOccurs="0" name="PercentComplete" type="xs:int" />
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RelativeURL" type="xs:string" />
      <xs:element minOccurs="0" name="FullURL" type="xs:string" />
      <xs:element minOccurs="0" name="StatusStr" type="xs:string" />
      <xs:element minOccurs="0" name="StatusInt" type="xs:int" />
      <xs:element minOccurs="0" name="StatusMessage" type="xs:string" />
      <xs:element minOccurs="0" name="SourceFile" type="xs:string" />
      <xs:element minOccurs="0" name="SourceHost" type="xs:string" />
      <xs:element minOccurs="0" name="SourceWidth" type="xs:int" />
      <xs:element minOccurs="0" name="SourceHeight" type="xs:int" />
      <xs:element minOccurs="0" name="AudioOnlyBitrate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiveStreamInfo" nillable="true" type="tns:LiveStreamInfo" />
</xs:schema>