MobileMyth/App_WebReferences/MythDvr_28/xsd9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mythtv.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArtworkInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="URL" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" type="xs:string" />
      <xs:element minOccurs="0" name="StorageGroup" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArtworkInfo" nillable="true" type="tns:ArtworkInfo" />
</xs:schema>