MobileMyth/App_WebReferences/MythService/xsd1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mythtv.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TimeZoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="TimeZoneID" type="xs:string" />
      <xs:element minOccurs="0" name="UTCOffset" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentDateTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeZoneInfo" nillable="true" type="tns:TimeZoneInfo" />
</xs:schema>