MobileMyth/App_WebReferences/MythService/xsd3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mythtv.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StorageGroupDir">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" type="xs:string" />
      <xs:element minOccurs="0" name="HostName" type="xs:string" />
      <xs:element minOccurs="0" name="DirName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StorageGroupDir" nillable="true" type="tns:StorageGroupDir" />
</xs:schema>