MobileMyth/App_WebReferences/MythDvr_29/xsd1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mythtv.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RecRuleFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecRuleFilter" nillable="true" type="tns:RecRuleFilter" />
</xs:schema>