MobileMyth/App_WebReferences/MythDvr_29/xsd29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mythtv.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CastMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" type="xs:string" />
      <xs:element minOccurs="0" name="CharacterName" type="xs:string" />
      <xs:element minOccurs="0" name="Role" type="xs:string" />
      <xs:element minOccurs="0" name="TranslatedRole" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CastMember" nillable="true" type="tns:CastMember" />
</xs:schema>